@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
	--background-color: black;
	--text-color: white;
	--font-family: 'Raleway', sans-serif;
}

html,
body {
	margin: 0;
	padding: 0px 10px;
	background-color: var(--background-color);
	color: var(--text-color);
	font-family: var(--font-family);
}

button {
	background: transparent;
	border: none;
	cursor: pointer;
}

a {
	text-decoration: none;
	color: white;
}

.span-color-text {
	color: rgb(133, 27, 255);
}

.span-nowrap {
	white-space: nowrap;
}
