@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;700&display=swap');

:root {
	--primary-purple: rgba(67, 7, 116, 1);
	--secondary-purple: rgba(192, 151, 198, 1);
	--accent-purple: rgba(192, 151, 198, 0.5);
	--accent-purple-2: rgba(67, 7, 116);
}

body,
html {
	font-family: 'IBM Plex Sans', sans-serif;
	background: var(--primary-purple);
}
